/* * {
  outline: 2px solid red;
} */


nav#topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  z-index: 100;
  display: grid;
  grid-template-columns: 10fr 9fr 1fr;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}


nav#topnav ul {
  height: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

nav#topnav ul a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-right: 0.15vw solid white;
}

nav#topnav ul a:last-of-type {
  border-right: none;
}

nav#topnav ul a li  {
  font-size: 2vw;
  text-transform: lowercase;
}

nav#topnav ul a.active li {
  text-decoration: underline;
}

nav#topnav ul a:hover {
  cursor: pointer;
}

nav#topnav ul a:hover li {
  text-decoration: underline;
}
