@font-face {
    font-family: monospace;
    src: url(fonts/monospace.ttf);
  }
  
  * {
    color: white;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: monospace;
    font-size: 1vw;
    user-select: none;
    list-style: none;
  }
  
  html {
    height: 100%;
  }
  
  body {
    background: #000;
    min-height: 100%;
  }